@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(46, 150, 119);
  padding: 30px;
  border-radius: 5px;
}

.add-form {
  margin-bottom: 40px;
}

.form-component {
  margin: 20px 0;
}

.form-component label {
  display: block;
  font-size: 17px;
  text-align: left;
}

.form-component input, .form-component textarea {
  width: 100%;
  line-height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 1rem;
}

.form-component-select {
  display: flex;
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
} 

.form-component-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-component-check label {
  flex: 1;
}

.form-component-check input {
  flex: 2;
  height: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.form-component-select > div {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

input[type=radio] {
  flex-grow: 0;
  width: 10px;
  margin-right: 10px;
}