@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  max-width: 1240px;
  margin: 0px auto;
  padding: 60px;
  position: relative;
}

header {
  background-color: #F2E9E4;
  color: #4A4E69;
  padding: 30px
}

nav {
  max-width: 1240px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.add-form {
  margin-bottom: 40px;
}

.destination-form{
  background-color: #fff;
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
  max-width: 750px;
  position: absolute;
  z-index: 2;
  right: 0;
  box-shadow: 5px 5px 10px #4A4E6980;
}

.form-component {
  margin: 20px 0;
}

.form-component label {
  display: block;
  font-size: 17px;
  text-align: left;
}

input[type=text] {
  padding: 3px 7px;
  border-radius: 4px;
  border-width: 1px;
}

.form-component input, .form-component textarea {
  width: 100%;
  line-height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 1rem;
  border-radius: 4px;
}

.form-component-select {
  display: flex;
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
} 

.form-component-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-component-check label {
  flex: 1;
}

.form-component-check input {
  flex: 2;
  height: 20px;
}

.btn {
  display: inline-block;
  background: #4A4E69;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
.btn:hover{
  color:#fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-add {
  margin-left: auto;
  display: block;
  
  right: 0;

  
}

.form-component-select > div {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

input[type=radio] {
  flex-grow: 0;
  width: 10px;
  margin-right: 10px;
  margin-bottom: calc(5px + 0.5rem);
}


.destination-card {
  display: block;
  margin: 15px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #4A4E6980;
  font-size: 17px;
  text-align: left;
  word-wrap: break-word;
  width: 100%;
}

.edit-icon {
  display: block;
  text-align: right;

}
.delete-icon {
  display: block;
  text-align: right;
}

.grid {
  position: relative;
  width: 100%;
  display: grid;
  justify-content: stretch;
  justify-items: stretch;
  align-content: stretch;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  grid-auto-flow: row; }

@media screen and (max-width: 750px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}